body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4; 
}
/* Global */
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
ul {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    background-color: #35424A;
    border-bottom: 3.2px solid #E8491D;
    color: #ffffff;
    padding-top: 10px;
    min-height: 70px;
    position: sticky;
    top:0
}

header li {
    list-style-type: none;
    float: left;
    padding: 0 20px;
    text-align: center;
}
header li a {
    color: #ffffff;
    text-decoration: none; 
    font-size: 16px;
    text-transform: uppercase;
}
header nav {
    float: right;
    margin-top: 25px;
}
header #branding {
    float: left;
}
header #branding span {
    color:#E8491D
}
header li.current a {
    color: #E8491D;
}
header li.current a:hover {
    color: #DDD;
}
header a:hover {
    color: #CCC;
    font-weight: bold;
}
header h1 {
    margin: 18px
}
/* Section: Showcase */
#showcase {
    background-image: url(./showcase.jpg);
    background-repeat: no-repeat;
    background-position: 0 -450px;
    min-height: 400px;
    text-align: center;
    color: #ffffff;
}
#showcase h1 {
    font-size: 55px;
    margin-top: 100px;
}
#showcase p {
    font-size: 20px;
}

/* Section: Newsletter */
#newsletter {
    background-color: #35424A;
}
#newsletter h1 {
    color:#ffffff;
    float: left; 
}
#newsletter form {
    color:#ffffff; 
    margin-top: 1.2em;
    float: right;
    width: 300px;
}
#newsletter form input[type="email"]{

    height: 2em;
    width: 65%
}
#newsletter form button.button-1{
 
    margin:0 0 0 1%;
    height: 2.45em;
    width: 30%;
    background-color: #E8491D;
    border:0
}
/* section: boxer */
#boxes {
    margin-top: 20px;
}
#boxes .box {
    box-sizing: border-box;
    padding: 10px;
    width: 33%;
    float: left;
    text-align: center;
    border: 0.2px solid #DDD;
    margin: 0 0.1%;
}
#boxes .box img {
    width: 30%;
}

/* Footer */
footer {
    background-color: #E8491D;
    color: white;
    padding: 10px;
    text-align: center;
}
/* ABOUT */
/* main*/
.main-content {
    float: left;
    width: 65%;
}
.aside {
    margin-top: 35px;
    float: right;
    background-color: #35424A;
    color: #FFF;
    padding: 20px 20px;
    width: 30%;

}

/* Services */
.main-col .box {
    background-color: #E6E6E6;
    width: 65%;
    float: left;
    padding: 20px 20px;
    margin-bottom: 4px;
    border: 0.5px solid rgb(177, 177, 177);
}
 
.main-col .aside-box {
    margin-top: 10px;
    float: right;
    background-color: #35424A;
    color: #FFF;
    width: 25%;
}
#services button {
    height: 37px;
    width: 120px;
    color:#FFF;
    background-color: #E8491D;
    border: 0;
    letter-spacing: 1px;
}
#services  #name, #services #email, #services #mess {
    height: 27px;
    width: 90%; 
    margin: 0 5% 3% 5%;

}
.aside-box label, form button{
    margin: 0 0 5% 5%;
}
#services #mess{
    height: 40px;
 
}
#services h3.h3-form {
    text-align: center;
}
#services input {
    margin-bottom: 5px;
}

/* Media queris */
@media(max-width:768px){
    #branding {
        float: none;
        text-align: center;
        width: 100%;
    }
    nav, nav li{
        float: none;
        text-align: center;
        width: 100%;
        margin-right: 5%;

    }
    #newsletter h1, #newsletter form{
        float: none;
        text-align: center;
        width: 100%;
    }
     #newsletter form input[type="email"] ,#newsletter form button.button-1 {
        float: none;
        text-align: center;
        width: 100%;
        margin: 1% 0;

    }
    #boxes .box {
        float: none;
        text-align: center;
        width: 100%;
        margin-bottom: 2%;

    }

    /* About */
    .main-content {
        float: none;
        text-align: center;
        width: 100%;

    }
    .aside{
        float: none;
        text-align: center;
        /* width: 90%; */
        padding: 10px 0;
        width: 100%;
        margin: 0 auto

    }
}
  